{% extends 'base.html' %} 

{% block title %} User Detail {% endblock %}

{% block content %} 
<h1 class="app-heading">User Detail</h1>

    <img src="{{user.image_url}}" alt="{{user.first_name}}" id="user_image">
    <h3>{{user.first_name}} {{user.last_name}} </h3>

<button type="button" class="btn btn-primary"><a href="/users">Back to Home </a></button>   
<button type="button" class="btn btn-success"><a href="/users/{{user.id}}/edit">Edit User</a></button>


{% endblock %}

<!-- {% if True %}
{{user.image_src}}
{% else %}
/static/img/default.jpg
{% endif %} -->